.App {
  text-align: center;
  height: 100%;
  background-color: #e8f4ea;
  font-family: "Lucida Sans Typewriter", monaco, monospace; 
}

html{
  background-color: #e8f4ea;
}

.menu {
  background-color: #d2e7d6;
  padding: 15px;
}

a:-webkit-any-link{
  font-family: "Lucida Sans Typewriter", monaco, monospace; 
  margin: 10px;
}

.addActivity{
  background-color: #baccbf;
}

.card.activity, .card.add, .card.home, .card.login, .card.register{
  background-color: #c8e1cc;
  margin: 15px;
  padding: 10px;
  width: 60%;
  display: inline-block;
}

.card.activity.yellow
{
  background-color: #FFDF82
}

.btn.completed.yellow,
.btn.delete.yellow{
 background-color: #ffecb4
}

.card.activity.red
{
  background-color: #FAA69F
}

.btn.completed.red,
.btn.delete.red{
  background-color: #fccac5;
}


.card.activity.green{
  background-color: #c8e1cc
}

.card.title {
  font-family: "Lucida Sans Typewriter", monaco, monospace; 
  font-size: 20px; 
  font-weight: 700; 
}

.card.body{
  font-family: "Lucida Sans Typewriter", monaco, monospace; 
  font-size: 16px; 
  font-weight: 300; 
  font-style: italic;
}

.btn.completed, 
.btn.add, 
.btn.delete, 
.btn.login, 
.btn.register{
  background-color: #d2e7d6;
  margin: 5px;
  color: grey;
}


.btn.completed:hover, 
.btn.add:hover, 
.btn.delete:hover, 
.btn.login:hover, 
.btn.register:hover{
background-color: #e0f0e3
}

.date.picker{
  padding: 7px;
}
.add.activity.input{
  padding: 3px;
}
.css-i4bv87-MuiSvgIcon-root{
  display: flex;
}

